<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="getBookkeepingData"
      :pagination.sync="pagination"
      hide-actions
      item-key="id"
      class="elevation-1 transparent"
    >
      <template slot="items" slot-scope="props">
          <td style="font-weight: bold">{{new Date(Date.parse(props.item.date)).toLocaleDateString()}}</td>
          <td>{{props.item.description}}</td>
          <td>-{{props.item.quota}}</td>
          <td style="font-weight: bold">{{props.item.balance}}</td>        
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pagination: {
        rowsPerPage: 8
      },
      headers: [
        {
          text: "Data",
          align: "left",
          value: "date"
        },
        {
          text: "Operacja / Dokument / Opis",
          align: "left",
          value: "description",
          sortable: false
        },
        {
          text: "Kwota",
          align: "left",
          value: "quota",
          sortable: false
        },
        {
          text: "Saldo",
          align: "left",
          value: "balance",
          sortable: false
        }
      ]
    };
  },
  computed: {
    getBookkeepingData() {
      // return this.$store.getters.getBookkeepingData
      return [
        {
          id: 1,
          date: 0,
          description: "Czesne",
          quota: 380,
          balance: 2120
        },
        {
          id: 2,
          date: 0,
          description: "Czesne",
          quota: 380,
          balance: 2120
        },
        {
          id: 3,
          date: 0,
          description: "Czesne",
          quota: 380,
          balance: 2120
        }
      ];
    },

    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  }
};
</script>

<style scoped>
</style>