<template>
<v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar color="secondary">
                <v-toolbar-title>Logowanie</v-toolbar-title>
              </v-toolbar>
              <v-alert
        :value="error"
        color="error"
        icon="warning" >
        {{error}}
      </v-alert>
              <v-card-text>
                <v-form v-model="valid">
                  <v-text-field prepend-icon="person" name="login" label="Login" type="text" required v-model="username" :rules="loginRules"></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Hasło" id="password" type="password" required v-model="password" :rules="passwordRules"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.prevent="signIn" :disabled="processing || !valid" color="primary" >
                 Zalogować się
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>

</template>

<script>
export default {
  data() {
    return {
      username: null,
      password: null,
      valid: false,
      loginRules: [
        v => !!v || "Prosze o podanie loginu",
        v =>
          (v && v.length >= 4) ||
          "Niepoprawny login, minimalna liczba znaków to 4"
      ],
      passwordRules: [
        v => !!v || "Prosze o podanie hasła",
        v =>
          (v && v.length >= 4) ||
          "Niepoprawne hasło, minimalna liczba znaków to 4"
      ]
    };
  },

  computed: {
    error() {
      return this.$store.getters.getError
    },
    processing() {
      return this.$store.getters.getProcessing
    },
    isUserAuthenticated() {
      return this.$store.getters.isUserAuthenticated
    }
  },

  methods: {
    signIn() {
      this.$store.dispatch("SIGN_IN", {
        username: this.username,
        password: this.password
      })

      //new CookieService.setUserCookie(this.$store.)
    }
  },
  watch: {
    isUserAuthenticated(val) {
      if (val === true) {
        this.$router.push("/profile");
      }
    }
  }
};
</script>

<style scoped>
</style>
