<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="getMarks"
      :pagination.sync="pagination"
      hide-actions
      item-key="id"
      class="elevation-1 transparent"
    >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.teacher }}</td>
          <td
            v-if="props.item.mark >= 3"
            style="color: green; font-weight: bold"
          >{{ props.item.mark }}</td>
          <td v-else style="color: red; font-weight: bold">{{ props.item.mark }}</td>
          <td
            style="font-weight: bold"
          >{{new Date(Date.parse(props.item.placedTimestamp)).toLocaleDateString() }}</td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
        <v-card flat>
          <v-card-text>
            <ul>
              <li>Nazwa przedmiotu: {{props.item.expandableData.name}}</li>
              <li>Nauczyciel: {{props.item.expandableData.teacher}}</li>              
              <li>
                Ocena zaliczenia:
                <span style="font-weight: bold">
                  <span
                    v-if="props.item.expandableData.finalMarkWithDate.mark >= 3"
                    style="color: green;"
                  >{{props.item.expandableData.finalMarkWithDate.mark}}</span>
                  <span
                    v-else
                    style="color: red"
                  >{{props.item.expandableData.finalMarkWithDate.mark}}</span>
                  [{{new Date(Date.parse(props.item.expandableData.finalMarkWithDate.date)).toLocaleDateString()}}]
                </span>
              </li>            
              <li>Oceny:
                <span v-for="(item, i) in props.item.expandableData.marksWithDate" :key="`${i}-${item}`" style="font-weight: bold">
                  <span v-if="item.mark >= 3" style="color: green;">{{item.mark}}</span>
                  <span v-else style="color: red">{{item.mark}}</span>
                  [{{new Date(Date.parse(item.date)).toLocaleDateString()}}]<span
                    v-if="props.item.expandableData.datesOfPresences.length-1 != i"
                  >; </span>
                </span>
              </li>              
              <li>Liczba obecności: {{props.item.expandableData.amountOfPresences}}</li>          
              <li>
                Obecności:
                <span
                  v-for="(item, i) in props.item.expandableData.datesOfPresences"
                  :key="`${i}-${item}`"
                  style="font-weight: bold"
                >
                  [{{new Date(Date.parse(item)).toLocaleDateString()}}]<span
                    v-if="props.item.expandableData.datesOfPresences.length-1 != i"
                  >; </span>
                </span>
              </li>           
              <li>Komunikat: {{props.item.expandableData.message}}</li>
            </ul>
          </v-card-text>
        </v-card>
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      pagination: {
        rowsPerPage: 8
      },
      headers: [
        {
          text: "№",
          align: "left",
          value: "id"
        },
        {
          text: "Nazwa przedmiotu",
          align: "left",
          value: "name"
        },
        {
          text: "Nauczyciel",
          align: "left",
          value: "teacher"
        },
        {
          text: "Ocena zaliczenia",
          align: "left",
          value: "mark"
        },
        {
          text: "Aktualizowano",
          align: "left",
          value: "placedTimestamp"
        }
      ]
    };
  },

  created() {
    //this.$store.dispatch("LOAD_MARKS", {userId: this.$store.getters.getUserId, token: this.$store.getters.getToken})
  },

  methods: {},

  computed: {
    getMarks() {
      // return this.$store.getters.getMarks
      return [
        {
          id: 1,
          name: "Matematyka",
          teacher: "Antonio Banderas",
          mark: 3,
          placedTimestamp: 0,
          expandableData: {
            name: "Matematyka",
            teacher: "Antonio Banderas",
            finalMarkWithDate: {
              mark: 3,
              date: 0
            },
            marksWithDate: [
              {
                mark: 5,
                date: 0
              },
              {
                mark: 3,
                date: 0
              },
              {
                mark: 4,
                date: 0
              },
              {
                mark: 4.5,
                date: 0
              },
              {
                mark: 4,
                date: 0
              },
              {
                mark: 2,
                date: 0
              },
              {
                mark: 5,
                date: 0
              },
              {
                mark: 5,
                date: 0
              },
              {
                mark: 4,
                date: 0
              }
            ],
            amountOfPresences: 9,
            datesOfPresences: [0, 0, 0, 0, 0, 0, 0, 0, 0],
            message: "KOMUNIKAT"
          }
        },
        {
          id: 2,
          name: "Fizyka",
          teacher: "Brian Beirne",
          mark: 2,
          placedTimestamp: 0,
          expandableData: {
            name: "Fizyka",
            teacher: "Brian Beirne",
            finalMarkWithDate: {
              mark: 2,
              date: 0
            },
            marksWithDate: [
              {
                mark: 5,
                date: 0
              },
              {
                mark: 3,
                date: 0
              },
              {
                mark: 4,
                date: 0
              },
              {
                mark: 4.5,
                date: 0
              },
              {
                mark: 4,
                date: 0
              },
              {
                mark: 2,
                date: 0
              },
              {
                mark: 5,
                date: 0
              },
              {
                mark: 5,
                date: 0
              },
              {
                mark: 4,
                date: 0
              }
            ],
            amountOfPresences: 9,
            datesOfPresences: [0, 0, 0, 0, 0, 0, 0, 0, 0],
            message: "KOMUNIKAT"
          }
        },
        {
          id: 3,
          name: "Bazy danych",
          teacher: "James Cameron",
          mark: 5,
          placedTimestamp: 0,
          expandableData: {
            name: "Bazy danych",
            teacher: "James Cameron",
            finalMarkWithDate: {
              mark: 5,
              date: 0
            },
            marksWithDate: [
              {
                mark: 5,
                date: 0
              },
              {
                mark: 3,
                date: 0
              },
              {
                mark: 4,
                date: 0
              },
              {
                mark: 4.5,
                date: 0
              },
              {
                mark: 4,
                date: 0
              },
              {
                mark: 2,
                date: 0
              },
              {
                mark: 5,
                date: 0
              },
              {
                mark: 5,
                date: 0
              },
              {
                mark: 4,
                date: 0
              }
            ],
            amountOfPresences: 9,
            datesOfPresences: [0, 0, 0, 0, 0, 0, 0, 0, 0],
            message: "KOMUNIKAT"
          }
        },
        {
          id: 4,
          name: "DPP",
          teacher: "Jim Carrey",
          mark: 2,
          placedTimestamp: 0,
          expandableData: {
            name: "DPP",
            teacher: "Jim Carrey",
            finalMarkWithDate: {
              mark: 2,
              date: 0
            },
            marksWithDate: [
              {
                mark: 5,
                date: 0
              },
              {
                mark: 3,
                date: 0
              },
              {
                mark: 4,
                date: 0
              },
              {
                mark: 4.5,
                date: 0
              },
              {
                mark: 4,
                date: 0
              },
              {
                mark: 2,
                date: 0
              },
              {
                mark: 5,
                date: 0
              },
              {
                mark: 5,
                date: 0
              },
              {
                mark: 4,
                date: 0
              }
            ],
            amountOfPresences: 9,
            datesOfPresences: [0, 0, 0, 0, 0, 0, 0, 0, 0],
            message: "KOMUNIKAT"
          }
        },
      ];
    },

    pages() {
      if (this.pagination.rowsPerPage == null || this.getMarks.length == null)
        return 0;
      return Math.ceil(this.getMarks.length / this.pagination.rowsPerPage);
    }
  },

  watch: {}
};
</script>

<style scoped>

li {
 list-style-type: none;
}


</style>