<template >
  <v-content>
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex xs12 sm12 offset-sm0>
          <v-card color="rgb(255, 255, 255, 0.9)">
            <v-layout row class="no-padding">
              <v-flex xs13 sm0>
                <v-avatar :tile="false" :size="256">
                  <img
                    src="https://i2.wp.com/storestickers.pl/wp-content/uploads/2018/05/rzadki-smutny-pepe-naklejka-mem-store-stickers.png?fit=1000%2C1000&quality=95&ssl=1"
                    alt="avatar"
                  >
                </v-avatar>
              </v-flex>
              <v-divider vertical></v-divider>
              <v-flex xs10 sm0>
                <v-list color="rgb(255, 255, 255, 0.9)" two-line>
                  <v-list-tile @click>
                    <v-list-tile-action></v-list-tile-action>

                    <v-list-tile-content>
                      <v-list-tile-title>{{getUserProfileData.identity.firstName + ' '+ getUserProfileData.identity.lastName }}</v-list-tile-title>
                      <v-list-tile-sub-title>Imię i nazwisko</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>

                  <v-list-tile @click>
                    <v-list-tile-action>
                      <v-icon color="indigo">phone</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                      <v-list-tile-title>{{getUserProfileData.identity.phoneNumber}}</v-list-tile-title>
                      <v-list-tile-sub-title>Komórkowy</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>

                  <v-divider inset></v-divider>

                  <v-list-tile @click>
                    <v-list-tile-action>
                      <v-icon color="indigo">mail</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                      <v-list-tile-title>{{getUserProfileData.identity.email}}</v-list-tile-title>
                      <v-list-tile-sub-title>Poczta studenta</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>

                  <v-divider inset></v-divider>

                  <v-list-tile @click>
                    <v-list-tile-action>
                      <v-icon color="indigo">location_on</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                      <v-list-tile-title>1400 Main Street</v-list-tile-title>
                      <v-list-tile-sub-title>Orlando, FL 79938</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>

        <v-flex xs12 sm12 offset-sm0>
          <v-card>

             <v-list v-if="getUserProfileData.identity.userType == 0" subheader three-line>
              <v-subheader>Informacja studenta</v-subheader>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title v-if="getUserProfileData.group != null">{{getUserProfileData.group}}</v-list-tile-title>
                  <v-list-tile-title v-else>Nie ma informacji</v-list-tile-title>
                  <v-list-tile-sub-title>Przedział studenta</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title v-if="getUserProfileData.specialization != null">{{getUserProfileData.specialization}}</v-list-tile-title>
                  <v-list-tile-title v-else>Nie ma informacji</v-list-tile-title>
                  <v-list-tile-sub-title>Specjalność</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
                   <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title v-if="getUserProfileData.studyType == 0">Stacjonarne (dzienne)</v-list-tile-title>
                  <v-list-tile-title v-else-if="getUserProfileData.studyType == 1">Niestacjonarne (zaoczne)</v-list-tile-title>
                  <v-list-tile-sub-title>Rodzaj studiów</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
               <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title> {{new Date(Date.parse(getUserProfileData.studyBeginningDate)).toLocaleDateString()}} </v-list-tile-title>
                  <v-list-tile-sub-title>Data rozpoczęcia studiów</v-list-tile-sub-title>
                </v-list-tile-content>
                 </v-list-tile>
                 <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title> {{getRomanizedNumber(getUserProfileData.semester)}} </v-list-tile-title>
                  <v-list-tile-sub-title>Semestr</v-list-tile-sub-title>
                </v-list-tile-content>
                 </v-list-tile>
                  <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title> {{getUserProfileData.index}} </v-list-tile-title>
                  <v-list-tile-sub-title>Indeks</v-list-tile-sub-title>
                </v-list-tile-content>
                 </v-list-tile>
                  <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title> {{getUserProfileData.balance + ' PLN'}} </v-list-tile-title>
                  <v-list-tile-sub-title>Saldo</v-list-tile-sub-title>
                </v-list-tile-content>
                 </v-list-tile>
            </v-list>

            <v-divider></v-divider>
            <v-list subheader three-line>
              <v-subheader>Ustawienia widoku</v-subheader>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>Content filtering</v-list-tile-title>
                  <v-list-tile-sub-title>Set the content filtering level to restrict appts that can be downloaded</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>Password</v-list-tile-title>
                  <v-list-tile-sub-title>Require password for purchase or use password to restrict purchase</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>

            <v-divider></v-divider>

            <v-list subheader three-line>
              <v-subheader>General</v-subheader>
              <v-list-tile @click>
                <v-list-tile-action>
                  <v-checkbox v-model="notifications"></v-checkbox>
                </v-list-tile-action>

                <v-list-tile-content @click.prevent="notifications = !notifications">
                  <v-list-tile-title>Notifications</v-list-tile-title>
                  <v-list-tile-sub-title>Notify me about updates to apps or games that I downloaded</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile @click>
                <v-list-tile-action>
                  <v-checkbox v-model="sound"></v-checkbox>
                </v-list-tile-action>

                <v-list-tile-content @click.prevent="sound = !sound">
                  <v-list-tile-title>Sound</v-list-tile-title>
                  <v-list-tile-sub-title>Auto-update apps at any time. Data charges may apply</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile @click>
                <v-list-tile-action>
                  <v-checkbox v-model="widgets"></v-checkbox>
                </v-list-tile-action>

                <v-list-tile-content @click.prevent="widgets = !widgets">
                  <v-list-tile-title>Auto-add widgets</v-list-tile-title>
                  <v-list-tile-sub-title>Automatically add home screen widgets</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import { Romanize } from "../components/Romanize"


export default {
  data() {
    return {
      items: [
        {
          active: true,
          title: "Jason Oner",
          avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg"
        },
        {
          active: true,
          title: "Ranee Carlson",
          avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg"
        },
        {
          title: "Cindy Baker",
          avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg"
        },
        {
          title: "Ali Connors",
          avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg"
        }
      ],
      items2: [
        {
          title: "Travis Howard",
          avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg"
        }
      ]
    };
  },
  computed: {
    getUserProfileData() {
      return this.$store.getters.getUserProfileData;
    }

  },

  methods: {
    getRomanizedNumber(num){
      return Romanize(num)
    }
  },

  created() {
    this.$store.dispatch("LOAD_PROFILE_DATA");
  }
};
</script>

<style scoped>
/*.no-padding .flex {
  padding: 0px !important;
}*/
</style>