<template>
  <div>
    <v-card>
      <v-card-title>Lista studentów
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Wyszukiwanie"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="getStudents"
        :search="search"
        item-key="user_id"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <tr @click="loadDataHandler(props)">
            <td>{{ props.item.user_id }}</td>
            <td>{{ props.item.imie }}</td>
            <td>{{ props.item.nazwisko }}</td>
            <td>{{ props.item.kierunek }}</td>
            <td>{{ props.item.grupa }}</td>
            <td>{{ props.item.semester }}</td>
          </tr>
        </template>

        <template slot="expand" slot-scope="props">
          <v-card flat>
            <v-card-text>
              <div class="text-xs-center">
                <v-progress-circular
                  v-if="inProgress"
                  :size="70"
                  :width="7"
                  color="pink"
                  indeterminate
                ></v-progress-circular>

                <div v-else>
                  <v-container fluid>
                    <v-layout column wrap>
                      <v-data-iterator :items="getStudentMarks" content-tag="v-layout" row wrap>
                        <v-flex slot="item" slot-scope="props" xs12 sm6 md4 lg3>
                          <v-card >
                            <v-card-title>
                              <h4>{{ props.item.przedmiot}}</h4>
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-list dense>
                              <v-list-tile
                                v-for="(item, i) in props.item.marks"
                                :key="`${i}-${item}`"
                              >
                                <v-list-tile-content>{{item.mark}}</v-list-tile-content>
                                <v-list-tile-content
                                  class="align-end"
                                >{{new Date(Date.parse(item.date)).toLocaleDateString()}}</v-list-tile-content>
                                <v-list-tile-content class="align-end">{{item.message}}</v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                  <v-btn flat icon color="pink" @click="dialog = true">
                                    <v-icon>edit</v-icon>
                                  </v-btn>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                  <v-btn flat icon color="pink" @click="removeMark(i+1)">
                                    <v-icon>delete_forever</v-icon>
                                  </v-btn>
                                </v-list-tile-content>
                              </v-list-tile>
                            </v-list>
                          </v-card>
                        </v-flex>
                      </v-data-iterator>
                      <v-divider></v-divider>
                      <v-layout row wrap align-center>
                        <v-flex xs12 sm10 md2>
                          <v-subheader>Przedmiot:</v-subheader>
                        </v-flex>

                        <v-flex xs3 sm3 md2>
                          <v-form v-model="isLessonValid">
                            <v-select
                              v-model="selectedLesson"
                              :items="lessons"
                              item-text="lesson"
                              label="Wybierz przedmiot"
                              persistent-hint
                              return-object
                              single-line
                              :rules="lessonRules"
                            ></v-select>
                          </v-form>
                        </v-flex>

                        <!--<v-divider vertical class="vertical-devider-margin-left vertical-devider-margin-right"></v-divider> -->
                        <v-flex xs4 sm1 md1></v-flex>

                        <v-flex xs10 sm2 md2>
                          <v-subheader>Ocena:</v-subheader>
                        </v-flex>
                        <v-flex xs3 sm3 md2>
                          <v-form v-model="isMarkValid">
                            <v-select
                              v-model="selectedMark"
                              :items="[2,3,3.5,4,4.5,5]"
                              label="Wybierz ocene"
                              persistent-hint
                              return-object
                              single-line
                              :rules="markRules"
                            ></v-select>
                          </v-form>
                        </v-flex>
                      </v-layout>
                      <v-divider></v-divider>
                      <v-form v-model="isMessageValid">
                        <v-flex xs12 sm6 md3>
                          <v-text-field v-model="message" label="Komunikat" :rules="messageRules"></v-text-field>
                        </v-flex>
                      </v-form>
                      <v-flex xs12 sm6 md3>
                        <v-btn color="primary" @click="applyChanges" :disabled="!(isMessageValid && isMarkValid && isLessonValid)">Zastosować</v-btn>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </div>
              </div>
            </v-card-text>
          </v-card>
        </template>

        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >Nie znaleziono żadnych wyników wyszukiwania dla "{{ search }}".</v-alert>
      </v-data-table>
    </v-card>
    <v-layout row justify-center>
      <v-dialog v-model="dialog" max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Edytowanie oceny</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6>
                  <v-select :items="[2,3,3.5,4,4.5,5]" label="Ocena" required></v-select>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Komunikat"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Zamknij</v-btn>
            <v-btn color="blue darken-1" flat @click="dialog = false">Zapisz zmiany</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {
      lessons: [{ lesson: "Fizyka" }, { lesson: "Matematyka" }],
      search: "",
      headers: [
        {
          text: "№",
          align: "left",
          sortable: true,
          value: "user_id"
        },
        {
          text: "Imię",
          align: "left",
          sortable: true,
          value: "imie"
        },
        {
          text: "Nazwisko",
          align: "left",
          sortable: true,
          value: "nazwisko"
        },
        {
          text: "Kierunek",
          align: "left",
          sortable: true,
          value: "kierunek"
        },
        {
          text: "Grupa",
          align: "left",
          sortable: true,
          value: "grupa"
        },
        {
          text: "Semestr",
          align: "left",
          sortable: true,
          value: "semester"
        }
      ],
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 4
      },

       lessonRules: [
        v => !!v || "Wybierz przedmiot",
      ],
        markRules: [
        v => !!v || "Wybierz ocene",
      ],

      messageRules: [
        v => !!v || "Wpisz komunikat",
        v => (v && v.length <= 255) || "Maksymalna ilość znaków wynosi 255",
        v => (v && v.length >= 4) || "Minimalna ilość znaków wynosi 4"
      ],


      isLessonValid: false,
      isMarkValid: false,
      isMessageValid: false,
      inProgress: true,
      dialog: false,

      selectedLesson: null,
      selectedMark: null,
      message: null
    };
  },
  computed: {
    getStudents() {
      return this.$store.getters.getStudents
    },
    getStudentMarks(){
      return this.$store.getters.getStudentMarks
    }
  },


  created(){
      this.$store.dispatch("LOAD_STUDENTS")
  },

  methods: {
    loadDataHandler(props) {
      this.inProgress = true
      props.expanded = !props.expanded
      setTimeout(() => (this.inProgress = false), 800)
      this.$store.dispatch("LOAD_STUDENT_MARKS",{user_id: props.item.user_id})      
    },
    editMark(markId, dialog) {},

    removeMark(markId) {
      this.$confirm("Czy naprawdę chcesz usunąć tą ocene?").then(res => {
        if (res) {

          this.$store.dispatch("REMOVE_MARK",{markId: markId})     
          
          //USUN
          //ODSWIEZ
        }
      });
    },

    applyChanges(studentId, lessonId) {
      console.log(
        this.selectedLesson.lesson +
          "/" +
          this.selectedMark +
          "/" +
          this.message
      );
      //this.$store.dispatch("APPLY_CHANGES", {lesson: this.selectedLesson.lesson, mark: this.selectedMark, message: this.message});
    }
  },

  watch: {}
};
</script>

<style scoped>
.vertical-devider-margin-left {
  margin-left: 1rem;
}
.vertical-devider-margin-right {
  margin-right: 1rem;
}
</style>