<template>
    <div>
        <v-footer :fixed="true" app>
            <span>Uniwersalny wirtualny dziennik &copy; 2019</span>
        </v-footer>
    </div>
</template>

<script>
    export default {
       components:{
          
       } 
    }
</script>

<style scoped>

</style>