<template>
  <div>
    <v-navigation-drawer absolute temporary v-model="isDrawerShowed" class="hidden-md-and-up">
      <v-list>
        <v-list-tile
          v-for="(item, i) in headerMenuItems"
          :key="`headerDrawerItem${i}`"
          :to="item.route"
        >
          <v-list-tile-action>
            <v-icon left v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed scroll-off-screen app color="secondary">
      <v-toolbar-side-icon @click.stop="isDrawerShowed = !isDrawerShowed" class="hidden-md-and-up"></v-toolbar-side-icon>
      <router-link to="/" tag="span" style="cursor:pointer">
        <div class="logo">
          <div>
            <img src="../assets/logo.png">
          </div>
          <v-toolbar-title v-text="'UWD'"></v-toolbar-title>
        </div>
      </router-link>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          color="accent"
          v-for="(item, i) in headerMenuItems"
          :key="`headerMenuItem${i}`"
          :to="item.route"
          flat
        >
          <v-badge v-if="item.badge" color="red" left overlap="true">
            <span slot="badge">{{item.messages}}</span>
            <v-icon color="accent" left v-html="item.icon"></v-icon>
            </v-badge>
             <v-icon v-else color="accent" left v-html="item.icon"></v-icon>
            {{item.title}}
          
        </v-btn>
        <v-btn color="accent" flat @click.prevent="signOut" v-if="isUserAuthenticated">
          <v-icon color="accent" left>exit_to_app</v-icon>Wylogój
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isDrawerShowed: false
    };
  },
  methods: {
    signOut() {
      this.$confirm("Czy naprawdę chcesz się wylogować?").then(res => {
        if (res) {
          this.$store.dispatch("SIGN_OUT");
          this.$router.push("/");
        }
      });
    }
  },
  computed: {
    isUserAuthenticated() {
      return this.$store.getters.isUserAuthenticated;
    },

    headerMenuItems() {
      return [
        {
          icon: "account_circle",
          title: "Moje konto",
          route: "/profile"
        },

        {
          icon: "recent_actors",
          title: "Lista studentów",
          route: "/students"
        },

        {
          icon: "list",
          title: "Karta ocen",
          route: "/marks"
        },

        {
          icon: "attach_money",
          title: "Kwestura",
          route: "/bookkeeping"
        },

        {
          icon: "view_list",
          title: "Plany zajęć",
          route: "/lessons"
        },

        {
          icon: "money",
          title: "Stypendia",
          route: "/scholarship"
        },

        {
          icon: "folder",
          title: "Dokumenty",
          route: "/documents"
        },

        {
          icon: "message",
          badge: true,
          messages: 2,
          title: "Komunikaty",
          route: "/messages"
        }
      ];
    }
  }
};
</script>

<style scoped>
.logo {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.logo > img,
.logo > div {
  display: inline-block;
}
.logo img {
  width: 38px;
  height: 38px;
  position: relative;
  top: 4px;
}
.logo {
  min-width: 105px;
}
</style>