<template>
<div id="app"  class="back">
  <v-app id="inspire">
    <app-header></app-header>
    <v-content >
      <router-view/>
    </v-content> 
    <app-footer></app-footer>
  </v-app>
</div>
</template>

<script>
import AppHeader from '@/components/AppHeader'
import AppFooter from '@/components/AppFooter'

export default {
  components:{
    AppHeader,
    AppFooter
  }
  
}
</script>

<style>
.back {
  background-image: url(http://wallpapersite.com/images/pages/pic_h/2538.jpg);
  background-size: cover;
}
#inspire {
  background: none;
}

.transparent {
 opacity: 0.9;
}

</style>
